<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Parser App</title>
        <link rel="stylesheet" href="/static/styles.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <h1 class="title-text">Регистрация</h1>
        <div class="container">
            {% block content %}
            {% if error %}
            <div class="user_error">
                <p class="user_error_text">{{ error }}</p>
            </div>
            {% endif %}
            {% endblock %}
            <div class="row">
                    <form class="row-form" action="/register/successful" method="post">
                    <input
                        class="registration_inputs"
                        type="text"
                        required
                        name="email"
                        id="email"
                        placeholder="Почта"
                    />
                    <input
                        type="text"
                        required
                        class="registration_inputs"
                        name="password"
                        id="password"
                        placeholder="Пароль"
                    />
                    <input
                        type="text"
                        required
                        class="registration_inputs"
                        name="telegram"
                        id="telegram"
                        placeholder="Телеграм"
                    />
                    <button type="submit" class="reg-button">Зарегистрироваться</button>
                    <p class="auth_text">Есть аккаунт? <a href="/login/" class="go_auth">Войти</a></p>
                </form>
            </div>
        </div>
    </body>
</html>
